/*font-family: 'Open Sans', sans-serif;*/

body {
	font-family: 'PT Serif', serif;
	background: #f5f5f5;
	font-size: 24px;
	color: #282828;
	max-width: 100%;
	height: auto;
	min-width: 320px;


}
img {
	max-width: 100%;
	height: auto;
}

.btn-red {
	background-color: #d51e08;
	color: #fff;
	margin-left: 20px;
}
.btn-red:hover {
	background-color: #ec4835;

}
h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	color: #282828;
	line-height: 1.2;
	margin-bottom: 40px;
}
h4 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 28px;
}


/*============================header===============================*/
/*.menu-top {
	margin: 18px 134px 18px 140px;
}*/
.brand {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #eb3c00;
	text-transform: uppercase;
	float: left;
}
.brand:hover {
	border: none;
}
.brand span {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	font-style: italic;
	color: #282828;
	text-transform: none;
	opacity: .5;
}
.login{
	float: right;
	margin-top: 12px;
    margin-right: 22px;
}
.login a {
	font-family: 'PT Serif', serif;
	font-size: 13px;
	font-style: italic;
	color: #282828;
}
.login a i {
	font-size: 14px;
	color: #ee4400;
}
a.btn-red {
	color: #fff;
}
a.btn-red:hover {
	color: #282828;
}
.navbar-nav>li>a.btn-red {
	width:191px;
	height: 45px;
	padding: 14px 40px 15px 40px;
	text-align: center;
}
.main-menu {
	margin-bottom: 34px;

}
.main-menu-bg {
	margin-left: -10px;
}
#main-menu a{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #fff;
}
.main-menu .container .navbar-nav>li>a{
	padding-top: 25px;
	margin-right: 8px;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background: #eb3c00;
	height: 72px;
	width: 76px;
}
.form-control {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}
.form-control::-webkit-input-placeholder {color:#282828; opacity: .2;}
.form-control::-moz-placeholder          {color:#282828; opacity: .2;}
.form-control:-moz-placeholder           {color:#282828; opacity: .2;}
.form-control:-ms-input-placeholder      {color:#282828; opacity: .2;}

.navbar, .form-control, .input-group-btn:last-child>.btn {
	border-radius: 0;
}
.input-group-btn:last-child>.btn {
	border-left: none;
}
.input-group {
	width: 269px;
}
.navbar-form {
	margin-top: 14px;
}
/*============================main-content===============================*/
.main-content .col-md-9 p {
	font-size: 24px;
	line-height: 1.5;
}
.main-content ul {
	font-size: 18px;
	padding-left:20px;
	margin-top: 16px;
	margin-bottom:54px;
}
.news {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	color: #eb3c00;

}
.images-news {
	margin-top:16px;
}
.img-title {
	line-height: 1.111;
	margin-top: 6px;
}
.img-title a{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #282828;
	line-height: 1.111;
}




@media only screen and (max-width : 992px) {
	.search {
		width: 50px;
	}

}